USE [master]
GO
/****** Object:  Database [70-461]    Script Date: 6.9.2024 г. 16:23:15 ******/
CREATE DATABASE [70-461]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'70-461', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\70-461.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'70-461_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\70-461_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [70-461].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [70-461]
GO
/****** Object:  Table [dbo].[tblSecond]    Script Date: 6.9.2024 г. 16:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSecond](
	[Number] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
